@model IEnumerable<Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id="pages">
    <thead>
        <tr class="home">
            <th>
                Title
            </th>
            <th>
                Slug
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Slug
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.Slug != "home")
                    {
                        <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirmDelete();">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
   
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    // Serialize the table rows as an array of IDs
                    var serializedIds = $("table#pages tbody").sortable("toArray");

                    // Prepare the data object to be sent in the AJAX request
                    var data = {
                        ids: serializedIds
                    };

                    // Include the CSRF token if your application uses it
                    data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();

                    // Send the updated order to the server
                    $.ajax({
                        type: "POST",
                        url: "/admin/pages/reorder",
                        data: JSON.stringify(data), // Convert data to JSON
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            // Handle the server response if needed
                        },
                        error: function (error) {
                            // Handle errors if necessary
                        }
                    });
                }
            });
        });
    </script>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this page?");
        }
    </script>
}