@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}
<h1>
    Products
</h1>

<div class="row">
    <div class="col-12">
        <form method="get" action="/products">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Search products">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group mb-3">
            <label class="mr-2">Sort by: </label>
            <a href="/products?categorySlug=@ViewBag.CategorySlug&sortOrder=price_asc" class="btn btn-outline-primary">Price Ascending</a>
            <a href="/products?categorySlug=@ViewBag.CategorySlug&sortOrder=price_desc" class="btn btn-outline-primary">Price Descending</a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("en-us"))
                
              
            </p>
            @if (item.IsOnSale)
            {
                <p class="text-danger"> On Sale </p>
            }
            <p>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">
                    Add to Cart
                </a>
                <a class="btn btn-primary text-white " asp-controller="Products" asp-action="Details" asp-route-productId="@item.Id">Details</a>
            </p>
        </div>

    }
    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages "
                        page-target="/products/@ViewBag.CategorySlug"
                        page-number="@ViewBag.PageNumber"
                        page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }

</div>

